/* 			for picture carousel */
  			.carousel-inner > .item > img,
  			.carousel-inner > .item > a > img {
      		width: 70%;
			margin: auto;
  			}
  			
/* 			for Google Maps API */
  			#map {
				width: 500px;
				height: 400px;
				background-color: #CCC
			}
			
			body {
				background-color: darksalmon;
			}